<%- include('includes/head'); %>
<%- include('includes/nav'); %>

<section class="container">
  <h1>
    <%= titulo %>
  </h1>
  <h1>Lorem ipsum dolor sit amet</h1>
</section>

<%- include('includes/carrosel'); %>
<%- include('includes/footer'); %>


